# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Movie-Stream-App/node_modules
/Movie-Stream-App/client/node_modules
/Movie-Stream-App/.pnp
/Movie-Stream-App/client/.pnp
/Movie-Stream-App/.pnp.js

# testing
/Movie-Stream-App/coverage

# production
/Movie-Stream-App/build

# misc
.DS_Store
/Movie-Stream-App/.env.local
/Movie-Stream-App/.env.development.local
/Movie-Stream-App/.env.test.local
/Movie-Stream-App/.env.production.local

/Movie-Stream-App/client/.env.local
/Movie-Stream-App/client/.env.development.local
/Movie-Stream-App/client/.env.test.local
/Movie-Stream-App/client/.env.production.local

pnpm-debug.log*
npm-debug.log*
